[Desktop Entry]
Name=Nextcloud
GenericName=File Synchronizer
Exec=/tmp/.mount_NextclW9ABab/usr/bin/nextcloud
Terminal=false
Icon=nextcloud
Categories=Network
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true
